/* some global styles */

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
}

body {
  padding: 0;
  margin: 0;
  display: grid;
  grid-template-rows: auto 1fr auto;
}

main {
  padding: 2em 2em;
  display: grid;
  place-items: center;
  gap: 1rem;
  background-color: ghostwhite;
}

p {
  max-width: 60ch;
}

/* Styles for Header 👇👇👇 */

.header {
  position: sticky;
  z-index: 10;
  inset-inline-start: 0;
  inset-inline-end: 0;
  top: 0;
  font-family: "Montserrat", sans-serif;
  padding: 2rem;
  height: 100px;
  background-color: #3e65da;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  width: 40%;
  height: 100%;
  display: flex;
  align-items: center;
  font-size: 24px;
  color: #fff;
}
.nav {
  padding: 0;
  margin: 0;
  width: 60%;
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.nav a {
  display: block;
  padding: 1em;
  font-size: 16px;
  font-weight: bold;
  color: #fff;
  text-decoration: none;
}
.checkbox {
  position: absolute;
  top: -100px; /* to hide the chcekbox */
}
.icon-burger {
  display: none;
}

.icon-burger::before,
.icon-burger::after {
  content: "";
  position: "absolute";
  display: block;
  width: 30px;
  height: 5px;
  background-color: #fff;
  margin: 5px;
  border-radius: 3px;
  transition: all 0.3s ease-in-out;
}

@media screen and (max-width: 768px) {
  .logo {
    width: auto;
  }
  .nav {
    float: none;
    position: fixed;
    z-index: 9;
    inset-inline-start: 0;
    inset-inline-end: 0;
    top: 100px;
    bottom: 100%;
    width: auto;
    height: auto;
    flex-direction: column;
    justify-content: space-evenly;
    background-color: rgba(0, 0, 0, 0.8);
    overflow: hidden;
    box-sizing: border-box;
    transition: all 0.3s ease-in-out;
  }
  .nav a {
    font-size: 20px;
  }
  .checkbox:checked ~ .nav {
    bottom: 0;
  }
  .icon-burger {
    display: block;
    height: 25px;
  }

  .checkbox:checked ~ .icon-burger::before {
    transform: translateY(5px) rotate(225deg);
  }
  .checkbox:checked ~ .icon-burger::after {
    transform: translateY(-5px) rotate(-225deg);
  }
}

/* End of styles for header */

footer {
  padding: 2em 1em;
  color: white;
  display: grid;
  place-items: center;
  gap: 1rem;
  background-color: darkslategrey;
}
